spec/CNPMerchantWebService_test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://kz.processing.cnp.merchant_ws/xsd" xmlns:ax25="http://merchant_web_services.cnp.processing.kz/xsd" xmlns:ax23="http://beans.merchant_web_services.cnp.processing.kz/xsd" xmlns:ax21="http://beans.common.cnp.processing.kz/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:axis2="http://merchant_web_services.cnp.processing.kz" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://merchant_web_services.cnp.processing.kz">
    <wsdl:types>
        <xs:schema xmlns:ax26="http://beans.common.cnp.processing.kz/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://merchant_web_services.cnp.processing.kz/xsd">
            <xs:import namespace="http://beans.common.cnp.processing.kz/xsd"/>
            <xs:complexType name="TransactionCardDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cardholderName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="currencyCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="expiryDate" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="goodsList" nillable="true" type="ax21:GoodsItem"/>
                    <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="merchantAdditionalInformationList" nillable="true" type="ax21:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paymentType" type="xs:int"/>
                    <xs:element minOccurs="0" name="purchaserEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required3DS" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="secureCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="terminalID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalAmount" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.merchant_web_services.cnp.processing.kz/xsd">
            <xs:complexType name="StartTransactionResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="redirectURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Authorise3DSResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="acsURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="md" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paReq" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tranGUID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionStatus" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.common.cnp.processing.kz/xsd">
            <xs:complexType name="TransferTransactionDetails">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalInformationList" nillable="true" type="ax21:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverAccount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverAddress" nillable="true" type="ax21:Address"/>
                    <xs:element minOccurs="0" name="receiverExpDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="returnURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderAccount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderAddress" nillable="true" type="ax21:Address"/>
                    <xs:element minOccurs="0" name="senderExpDate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="terminalId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tranAmount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AdditionalInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="addressLine1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="addressLine2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="county" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GoodsItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="currencyCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="merchantsGoodsID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nameOfGoods" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StoredTransactionStatus">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalInformation" nillable="true" type="ax21:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="amountAuthorised" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountRefunded" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountRequested" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountSettled" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="authCode" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="goods" nillable="true" type="ax21:GoodsItem"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantOnlineAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionCurrencyCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionStatus" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransactionDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="billingAddress" nillable="true" type="ax21:Address"/>
                    <xs:element minOccurs="0" name="cardId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="currencyCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="goodsList" nillable="true" type="ax21:GoodsItem"/>
                    <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="merchantAdditionalInformationList" nillable="true" type="ax21:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paymentType" type="xs:int"/>
                    <xs:element minOccurs="0" name="purchaserEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="returnURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="terminalID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalAmount" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StoredTransferTransactionStatus">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalInformation" nillable="true" type="ax21:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="authCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cardIssuerCountry" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maskedCardNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantOnlineAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="transactionCurrencyCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionStatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userIpAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="verified3D" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StoredTransactionStatusCode">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalInformation" nillable="true" type="ax21:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="amountAuthorised" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountRefunded" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountRequested" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountSettled" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="authCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bankRRN" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="goods" nillable="true" type="ax21:GoodsItem"/>
                    <xs:element minOccurs="0" name="issuerBank" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantOnlineAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rspCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rspCodeDesc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sinkNode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionCurrencyCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionStatus" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StoredTransactionStatusExtended">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cardIssuerCountry" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maskedCardNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserIpAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="verified3D" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax27="http://merchant_web_services.cnp.processing.kz/xsd" xmlns:ax24="http://beans.merchant_web_services.cnp.processing.kz/xsd" xmlns:ax22="http://beans.common.cnp.processing.kz/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://kz.processing.cnp.merchant_ws/xsd">
            <xs:import namespace="http://beans.common.cnp.processing.kz/xsd"/>
            <xs:import namespace="http://beans.merchant_web_services.cnp.processing.kz/xsd"/>
            <xs:import namespace="http://merchant_web_services.cnp.processing.kz/xsd"/>
            <xs:element name="startTransferTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax22:TransferTransactionDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startTransferTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:StartTransactionResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startTransactionWithCardDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax25:TransactionCardDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startTransactionWithCardDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:StoredTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax22:TransactionDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:StartTransactionResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startCashOutTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax22:TransferTransactionDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startCashOutTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:StartTransactionResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startCashInTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax22:TransferTransactionDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startCashInTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:StartTransactionResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="refundTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="refundAmount" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="goodsToRefund" nillable="true" type="ax22:GoodsItem"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalInformation" nillable="true" type="ax22:AdditionalInformation"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="refundTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="recurrentTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax22:TransactionDetails"/>
                        <xs:element minOccurs="0" name="originalCustomerReference" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="recurrentTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:StoredTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransferTransactionStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransferTransactionStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:StoredTransferTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransactionStatusCode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransactionStatusCodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:StoredTransactionStatusCode"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransactionStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransactionStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:StoredTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getExtendedTransactionStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getExtendedTransactionStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:StoredTransactionStatusExtended"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCashOutTransactionStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCashOutTransactionStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:StoredTransferTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeTransactionEx">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionSuccess" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="overrideAmount" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="goods" nillable="true" type="ax22:GoodsItem"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeTransactionExResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionSuccess" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="overrideAmount" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeCashOutTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionSuccess" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeCashOutTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:StoredTransferTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="complete3DS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paRes" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="md" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tranGUID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="complete3DSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:StoredTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authorise3DS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax25:TransactionCardDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authorise3DSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:Authorise3DSResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="startTransactionRequest">
        <wsdl:part name="parameters" element="ns:startTransaction"/>
    </wsdl:message>
    <wsdl:message name="startTransactionResponse">
        <wsdl:part name="parameters" element="ns:startTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="refundTransactionRequest">
        <wsdl:part name="parameters" element="ns:refundTransaction"/>
    </wsdl:message>
    <wsdl:message name="refundTransactionResponse">
        <wsdl:part name="parameters" element="ns:refundTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="getTransactionStatusCodeRequest">
        <wsdl:part name="parameters" element="ns:getTransactionStatusCode"/>
    </wsdl:message>
    <wsdl:message name="getTransactionStatusCodeResponse">
        <wsdl:part name="parameters" element="ns:getTransactionStatusCodeResponse"/>
    </wsdl:message>
    <wsdl:message name="startCashInTransactionRequest">
        <wsdl:part name="parameters" element="ns:startCashInTransaction"/>
    </wsdl:message>
    <wsdl:message name="startCashInTransactionResponse">
        <wsdl:part name="parameters" element="ns:startCashInTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="startCashOutTransactionRequest">
        <wsdl:part name="parameters" element="ns:startCashOutTransaction"/>
    </wsdl:message>
    <wsdl:message name="startCashOutTransactionResponse">
        <wsdl:part name="parameters" element="ns:startCashOutTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="startTransactionWithCardDetailsRequest">
        <wsdl:part name="parameters" element="ns:startTransactionWithCardDetails"/>
    </wsdl:message>
    <wsdl:message name="startTransactionWithCardDetailsResponse">
        <wsdl:part name="parameters" element="ns:startTransactionWithCardDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="startTransferTransactionRequest">
        <wsdl:part name="parameters" element="ns:startTransferTransaction"/>
    </wsdl:message>
    <wsdl:message name="startTransferTransactionResponse">
        <wsdl:part name="parameters" element="ns:startTransferTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="completeTransactionExRequest">
        <wsdl:part name="parameters" element="ns:completeTransactionEx"/>
    </wsdl:message>
    <wsdl:message name="completeTransactionExResponse">
        <wsdl:part name="parameters" element="ns:completeTransactionExResponse"/>
    </wsdl:message>
    <wsdl:message name="getTransferTransactionStatusRequest">
        <wsdl:part name="parameters" element="ns:getTransferTransactionStatus"/>
    </wsdl:message>
    <wsdl:message name="getTransferTransactionStatusResponse">
        <wsdl:part name="parameters" element="ns:getTransferTransactionStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="getVersionRequest"/>
    <wsdl:message name="getVersionResponse">
        <wsdl:part name="parameters" element="ns:getVersionResponse"/>
    </wsdl:message>
    <wsdl:message name="completeCashOutTransactionRequest">
        <wsdl:part name="parameters" element="ns:completeCashOutTransaction"/>
    </wsdl:message>
    <wsdl:message name="completeCashOutTransactionResponse">
        <wsdl:part name="parameters" element="ns:completeCashOutTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="getExtendedTransactionStatusRequest">
        <wsdl:part name="parameters" element="ns:getExtendedTransactionStatus"/>
    </wsdl:message>
    <wsdl:message name="getExtendedTransactionStatusResponse">
        <wsdl:part name="parameters" element="ns:getExtendedTransactionStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="getCashOutTransactionStatusRequest">
        <wsdl:part name="parameters" element="ns:getCashOutTransactionStatus"/>
    </wsdl:message>
    <wsdl:message name="getCashOutTransactionStatusResponse">
        <wsdl:part name="parameters" element="ns:getCashOutTransactionStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="authorise3DSRequest">
        <wsdl:part name="parameters" element="ns:authorise3DS"/>
    </wsdl:message>
    <wsdl:message name="authorise3DSResponse">
        <wsdl:part name="parameters" element="ns:authorise3DSResponse"/>
    </wsdl:message>
    <wsdl:message name="complete3DSRequest">
        <wsdl:part name="parameters" element="ns:complete3DS"/>
    </wsdl:message>
    <wsdl:message name="complete3DSResponse">
        <wsdl:part name="parameters" element="ns:complete3DSResponse"/>
    </wsdl:message>
    <wsdl:message name="recurrentTransactionRequest">
        <wsdl:part name="parameters" element="ns:recurrentTransaction"/>
    </wsdl:message>
    <wsdl:message name="recurrentTransactionResponse">
        <wsdl:part name="parameters" element="ns:recurrentTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="getTransactionStatusRequest">
        <wsdl:part name="parameters" element="ns:getTransactionStatus"/>
    </wsdl:message>
    <wsdl:message name="getTransactionStatusResponse">
        <wsdl:part name="parameters" element="ns:getTransactionStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="completeTransactionRequest">
        <wsdl:part name="parameters" element="ns:completeTransaction"/>
    </wsdl:message>
    <wsdl:message name="completeTransactionResponse">
        <wsdl:part name="parameters" element="ns:completeTransactionResponse"/>
    </wsdl:message>
    <wsdl:portType name="MerchantWebServicePortType">
        <wsdl:operation name="startTransaction">
            <wsdl:input message="axis2:startTransactionRequest" wsaw:Action="urn:startTransaction"/>
            <wsdl:output message="axis2:startTransactionResponse" wsaw:Action="urn:startTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="refundTransaction">
            <wsdl:input message="axis2:refundTransactionRequest" wsaw:Action="urn:refundTransaction"/>
            <wsdl:output message="axis2:refundTransactionResponse" wsaw:Action="urn:refundTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatusCode">
            <wsdl:input message="axis2:getTransactionStatusCodeRequest" wsaw:Action="urn:getTransactionStatusCode"/>
            <wsdl:output message="axis2:getTransactionStatusCodeResponse" wsaw:Action="urn:getTransactionStatusCodeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="startCashInTransaction">
            <wsdl:input message="axis2:startCashInTransactionRequest" wsaw:Action="urn:startCashInTransaction"/>
            <wsdl:output message="axis2:startCashInTransactionResponse" wsaw:Action="urn:startCashInTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="startCashOutTransaction">
            <wsdl:input message="axis2:startCashOutTransactionRequest" wsaw:Action="urn:startCashOutTransaction"/>
            <wsdl:output message="axis2:startCashOutTransactionResponse" wsaw:Action="urn:startCashOutTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="startTransactionWithCardDetails">
            <wsdl:input message="axis2:startTransactionWithCardDetailsRequest" wsaw:Action="urn:startTransactionWithCardDetails"/>
            <wsdl:output message="axis2:startTransactionWithCardDetailsResponse" wsaw:Action="urn:startTransactionWithCardDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="startTransferTransaction">
            <wsdl:input message="axis2:startTransferTransactionRequest" wsaw:Action="urn:startTransferTransaction"/>
            <wsdl:output message="axis2:startTransferTransactionResponse" wsaw:Action="urn:startTransferTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="completeTransactionEx">
            <wsdl:input message="axis2:completeTransactionExRequest" wsaw:Action="urn:completeTransactionEx"/>
            <wsdl:output message="axis2:completeTransactionExResponse" wsaw:Action="urn:completeTransactionExResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTransferTransactionStatus">
            <wsdl:input message="axis2:getTransferTransactionStatusRequest" wsaw:Action="urn:getTransferTransactionStatus"/>
            <wsdl:output message="axis2:getTransferTransactionStatusResponse" wsaw:Action="urn:getTransferTransactionStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <wsdl:input message="axis2:getVersionRequest" wsaw:Action="urn:getVersion"/>
            <wsdl:output message="axis2:getVersionResponse" wsaw:Action="urn:getVersionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="completeCashOutTransaction">
            <wsdl:input message="axis2:completeCashOutTransactionRequest" wsaw:Action="urn:completeCashOutTransaction"/>
            <wsdl:output message="axis2:completeCashOutTransactionResponse" wsaw:Action="urn:completeCashOutTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getExtendedTransactionStatus">
            <wsdl:input message="axis2:getExtendedTransactionStatusRequest" wsaw:Action="urn:getExtendedTransactionStatus"/>
            <wsdl:output message="axis2:getExtendedTransactionStatusResponse" wsaw:Action="urn:getExtendedTransactionStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCashOutTransactionStatus">
            <wsdl:input message="axis2:getCashOutTransactionStatusRequest" wsaw:Action="urn:getCashOutTransactionStatus"/>
            <wsdl:output message="axis2:getCashOutTransactionStatusResponse" wsaw:Action="urn:getCashOutTransactionStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="authorise3DS">
            <wsdl:input message="axis2:authorise3DSRequest" wsaw:Action="urn:authorise3DS"/>
            <wsdl:output message="axis2:authorise3DSResponse" wsaw:Action="urn:authorise3DSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="complete3DS">
            <wsdl:input message="axis2:complete3DSRequest" wsaw:Action="urn:complete3DS"/>
            <wsdl:output message="axis2:complete3DSResponse" wsaw:Action="urn:complete3DSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="recurrentTransaction">
            <wsdl:input message="axis2:recurrentTransactionRequest" wsaw:Action="urn:recurrentTransaction"/>
            <wsdl:output message="axis2:recurrentTransactionResponse" wsaw:Action="urn:recurrentTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatus">
            <wsdl:input message="axis2:getTransactionStatusRequest" wsaw:Action="urn:getTransactionStatus"/>
            <wsdl:output message="axis2:getTransactionStatusResponse" wsaw:Action="urn:getTransactionStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="completeTransaction">
            <wsdl:input message="axis2:completeTransactionRequest" wsaw:Action="urn:completeTransaction"/>
            <wsdl:output message="axis2:completeTransactionResponse" wsaw:Action="urn:completeTransactionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MerchantWebServiceSoap11Binding" type="axis2:MerchantWebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="startTransaction">
            <soap:operation soapAction="urn:startTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refundTransaction">
            <soap:operation soapAction="urn:refundTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatusCode">
            <soap:operation soapAction="urn:getTransactionStatusCode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashInTransaction">
            <soap:operation soapAction="urn:startCashInTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashOutTransaction">
            <soap:operation soapAction="urn:startCashOutTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startTransactionWithCardDetails">
            <soap:operation soapAction="urn:startTransactionWithCardDetails" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startTransferTransaction">
            <soap:operation soapAction="urn:startTransferTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeTransactionEx">
            <soap:operation soapAction="urn:completeTransactionEx" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransferTransactionStatus">
            <soap:operation soapAction="urn:getTransferTransactionStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <soap:operation soapAction="urn:getVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeCashOutTransaction">
            <soap:operation soapAction="urn:completeCashOutTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCashOutTransactionStatus">
            <soap:operation soapAction="urn:getCashOutTransactionStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExtendedTransactionStatus">
            <soap:operation soapAction="urn:getExtendedTransactionStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="recurrentTransaction">
            <soap:operation soapAction="urn:recurrentTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="complete3DS">
            <soap:operation soapAction="urn:complete3DS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authorise3DS">
            <soap:operation soapAction="urn:authorise3DS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatus">
            <soap:operation soapAction="urn:getTransactionStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeTransaction">
            <soap:operation soapAction="urn:completeTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MerchantWebServiceSoap12Binding" type="axis2:MerchantWebServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="startTransaction">
            <soap12:operation soapAction="urn:startTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refundTransaction">
            <soap12:operation soapAction="urn:refundTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatusCode">
            <soap12:operation soapAction="urn:getTransactionStatusCode" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashInTransaction">
            <soap12:operation soapAction="urn:startCashInTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashOutTransaction">
            <soap12:operation soapAction="urn:startCashOutTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startTransactionWithCardDetails">
            <soap12:operation soapAction="urn:startTransactionWithCardDetails" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startTransferTransaction">
            <soap12:operation soapAction="urn:startTransferTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeTransactionEx">
            <soap12:operation soapAction="urn:completeTransactionEx" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransferTransactionStatus">
            <soap12:operation soapAction="urn:getTransferTransactionStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <soap12:operation soapAction="urn:getVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeCashOutTransaction">
            <soap12:operation soapAction="urn:completeCashOutTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCashOutTransactionStatus">
            <soap12:operation soapAction="urn:getCashOutTransactionStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExtendedTransactionStatus">
            <soap12:operation soapAction="urn:getExtendedTransactionStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="recurrentTransaction">
            <soap12:operation soapAction="urn:recurrentTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="complete3DS">
            <soap12:operation soapAction="urn:complete3DS" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authorise3DS">
            <soap12:operation soapAction="urn:authorise3DS" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatus">
            <soap12:operation soapAction="urn:getTransactionStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeTransaction">
            <soap12:operation soapAction="urn:completeTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MerchantWebServiceHttpBinding" type="axis2:MerchantWebServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="startTransaction">
            <http:operation location="MerchantWebService/startTransaction"/>
            <wsdl:input>
                <mime:content type="text/xml" part="startTransaction"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="startTransaction"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refundTransaction">
            <http:operation location="MerchantWebService/refundTransaction"/>
            <wsdl:input>
                <mime:content type="text/xml" part="refundTransaction"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="refundTransaction"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatusCode">
            <http:operation location="MerchantWebService/getTransactionStatusCode"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getTransactionStatusCode"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTransactionStatusCode"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashInTransaction">
            <http:operation location="MerchantWebService/startCashInTransaction"/>
            <wsdl:input>
                <mime:content type="text/xml" part="startCashInTransaction"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="startCashInTransaction"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashOutTransaction">
            <http:operation location="MerchantWebService/startCashOutTransaction"/>
            <wsdl:input>
                <mime:content type="text/xml" part="startCashOutTransaction"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="startCashOutTransaction"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startTransactionWithCardDetails">
            <http:operation location="MerchantWebService/startTransactionWithCardDetails"/>
            <wsdl:input>
                <mime:content type="text/xml" part="startTransactionWithCardDetails"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="startTransactionWithCardDetails"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startTransferTransaction">
            <http:operation location="MerchantWebService/startTransferTransaction"/>
            <wsdl:input>
                <mime:content type="text/xml" part="startTransferTransaction"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="startTransferTransaction"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeTransactionEx">
            <http:operation location="MerchantWebService/completeTransactionEx"/>
            <wsdl:input>
                <mime:content type="text/xml" part="completeTransactionEx"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="completeTransactionEx"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransferTransactionStatus">
            <http:operation location="MerchantWebService/getTransferTransactionStatus"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getTransferTransactionStatus"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTransferTransactionStatus"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <http:operation location="MerchantWebService/getVersion"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getVersion"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getVersion"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeCashOutTransaction">
            <http:operation location="MerchantWebService/completeCashOutTransaction"/>
            <wsdl:input>
                <mime:content type="text/xml" part="completeCashOutTransaction"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="completeCashOutTransaction"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCashOutTransactionStatus">
            <http:operation location="MerchantWebService/getCashOutTransactionStatus"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getCashOutTransactionStatus"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getCashOutTransactionStatus"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExtendedTransactionStatus">
            <http:operation location="MerchantWebService/getExtendedTransactionStatus"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getExtendedTransactionStatus"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getExtendedTransactionStatus"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="recurrentTransaction">
            <http:operation location="MerchantWebService/recurrentTransaction"/>
            <wsdl:input>
                <mime:content type="text/xml" part="recurrentTransaction"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="recurrentTransaction"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="complete3DS">
            <http:operation location="MerchantWebService/complete3DS"/>
            <wsdl:input>
                <mime:content type="text/xml" part="complete3DS"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="complete3DS"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authorise3DS">
            <http:operation location="MerchantWebService/authorise3DS"/>
            <wsdl:input>
                <mime:content type="text/xml" part="authorise3DS"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="authorise3DS"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatus">
            <http:operation location="MerchantWebService/getTransactionStatus"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getTransactionStatus"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTransactionStatus"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeTransaction">
            <http:operation location="MerchantWebService/completeTransaction"/>
            <wsdl:input>
                <mime:content type="text/xml" part="completeTransaction"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="completeTransaction"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MerchantWebService">
        <wsdl:port name="MerchantWebServiceHttpSoap11Endpoint" binding="axis2:MerchantWebServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/MerchantWebService"/>
        </wsdl:port>
        <wsdl:port name="MerchantWebServiceHttpSoap12Endpoint" binding="axis2:MerchantWebServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/MerchantWebService"/>
        </wsdl:port>
        <wsdl:port name="MerchantWebServiceHttpEndpoint" binding="axis2:MerchantWebServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/MerchantWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
